src/org/dlbc/ws/Shinow.wsdl

<?xml version="1.0" encoding="utf-8"?>
<wsdl:definitions xmlns:http="http://schemas.xmlsoap.org/wsdl/http/" xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/" xmlns:mime="http://schemas.xmlsoap.org/wsdl/mime/" xmlns:tns="http://tempuri.org/" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:tm="http://microsoft.com/wsdl/mime/textMatching/" xmlns:s="http://www.w3.org/2001/XMLSchema" xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/" targetNamespace="http://tempuri.org/" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">
  <wsdl:types>
    <s:schema elementFormDefault="qualified" targetNamespace="http://tempuri.org/">
      <s:element name="GetTestResultSearchVerifyCodeByDonCode">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="donCode" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="GetTestResultSearchVerifyCodeByDonCodeResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="GetTestResultSearchVerifyCodeByDonCodeResult" type="tns:NetSearchTestResultInfo" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:complexType name="NetSearchTestResultInfo">
        <s:sequence>
          <s:element minOccurs="0" maxOccurs="1" name="Status" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="ErrorInfo" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="TestResultID" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="ArcID" type="s:string" />
        </s:sequence>
      </s:complexType>
      <s:element name="ServiceSoapHead" type="tns:ServiceSoapHead" />
      <s:complexType name="ServiceSoapHead">
        <s:sequence>
          <s:element minOccurs="0" maxOccurs="1" name="UserName" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="UserPassword" type="s:string" />
        </s:sequence>
        <s:anyAttribute />
      </s:complexType>
      <s:element name="GetTestResultByDonCode">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="donCode" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="verifyCode" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="GetTestResultByDonCodeResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="GetTestResultByDonCodeResult" type="tns:NetSearchTestResultInfo" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="GetTestResultSearchVerifyCodeByIdCode">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="idTypeID" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="idCode" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="GetTestResultSearchVerifyCodeByIdCodeResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="GetTestResultSearchVerifyCodeByIdCodeResult" type="tns:NetSearchTestResultInfo" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="GetTestResultByIdCode">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="idTypeID" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="idCode" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="verifyCode" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="GetTestResultByIdCodeResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="GetTestResultByIdCodeResult" type="tns:NetSearchTestResultInfo" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="CheckAppArchives">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="idTypeID" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="idCode" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="name" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="sexID" type="s:string" />
            <s:element minOccurs="1" maxOccurs="1" name="birthday" nillable="true" type="s:dateTime" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="CheckAppArchivesResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="CheckAppArchivesResult" type="tns:NetAppReturnInfo" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:complexType name="NetAppReturnInfo">
        <s:sequence>
          <s:element minOccurs="0" maxOccurs="1" name="Status" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="ErrorInfo" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="ArcID" type="s:string" />
        </s:sequence>
      </s:complexType>
      <s:element name="CheckAppInterval">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="idTypeID" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="idCode" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="name" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="sexID" type="s:string" />
            <s:element minOccurs="1" maxOccurs="1" name="birthday" nillable="true" type="s:dateTime" />
            <s:element minOccurs="0" maxOccurs="1" name="donKindID" type="s:string" />
            <s:element minOccurs="1" maxOccurs="1" name="appStartDate" type="s:dateTime" />
            <s:element minOccurs="1" maxOccurs="1" name="appEndDate" nillable="true" type="s:dateTime" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="CheckAppIntervalResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="CheckAppIntervalResult" type="tns:NetAppReturnInfo" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="InsertAppInfo">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="netAppRecordInfo" type="tns:NetAppRecordInfo" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:complexType name="NetAppRecordInfo">
        <s:sequence>
          <s:element minOccurs="0" maxOccurs="1" name="ReserveInfo" type="tns:ReserveInfo" />
          <s:element minOccurs="0" maxOccurs="1" name="ReserveLinkModes" type="tns:ArrayOfReserveLinkModesDic" />
          <s:element minOccurs="0" maxOccurs="1" name="DonAppRecordInfo" type="tns:DonAppRecordInfo" />
        </s:sequence>
      </s:complexType>
      <s:complexType name="ReserveInfo">
        <s:complexContent mixed="false">
          <s:extension base="tns:ArcBasicInfo">
            <s:sequence>
              <s:element minOccurs="0" maxOccurs="1" name="ID" type="s:string" />
              <s:element minOccurs="0" maxOccurs="1" name="BloodStationID" type="s:string" />
              <s:element minOccurs="0" maxOccurs="1" name="DeptID" type="s:string" />
              <s:element minOccurs="0" maxOccurs="1" name="ArcID" type="s:string" />
              <s:element minOccurs="0" maxOccurs="1" name="CreatorID" type="s:string" />
              <s:element minOccurs="1" maxOccurs="1" name="CreateDate" type="s:dateTime" />
              <s:element minOccurs="1" maxOccurs="1" name="RemarkStatus" type="s:boolean" />
              <s:element minOccurs="0" maxOccurs="1" name="CreatorName" type="s:string" />
              <s:element minOccurs="0" maxOccurs="1" name="Remark" type="s:string" />
              <s:element minOccurs="0" maxOccurs="1" name="RegionProvinceID" type="s:string" />
              <s:element minOccurs="0" maxOccurs="1" name="RegionCityID" type="s:string" />
            </s:sequence>
          </s:extension>
        </s:complexContent>
      </s:complexType>
      <s:complexType name="ArcBasicInfo">
        <s:sequence>
          <s:element minOccurs="0" maxOccurs="1" name="IdentityTypeID" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="IdentityCode" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="Name" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="SexID" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="ABO" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="RHD" type="s:string" />
          <s:element minOccurs="1" maxOccurs="1" name="Birthday" type="s:dateTime" />
          <s:element minOccurs="0" maxOccurs="1" name="PictureID" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="NationalityID" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="NationID" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="MaritalID" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="PoliticalID" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="OriginID" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="OrganizationID" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="EducationID" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="OccupationID" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="IDCardAddress" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="RegionID" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="StreetID" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="SocietyRoleID" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="IdentityTypeName" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="SexName" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="NationalityName" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="NationName" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="MaritalName" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="PoliticalName" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="OriginName" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="OrganizationName" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="EducationName" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="OccupationName" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="RegionName" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="StreetName" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="SocietyRoleName" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="BloodType" type="s:string" />
          <s:element minOccurs="1" maxOccurs="1" name="Age" type="s:int" />
        </s:sequence>
      </s:complexType>
      <s:complexType name="ArrayOfReserveLinkModesDic">
        <s:sequence>
          <s:element minOccurs="0" maxOccurs="unbounded" name="ReserveLinkModesDic" nillable="true" type="tns:ReserveLinkModesDic" />
        </s:sequence>
      </s:complexType>
      <s:complexType name="ReserveLinkModesDic">
        <s:sequence>
          <s:element minOccurs="0" maxOccurs="1" name="ID" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="ReserveID" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="LinkModeID" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="LinkValue" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="LinkModeName" type="s:string" />
        </s:sequence>
      </s:complexType>
      <s:complexType name="DonAppRecordInfo">
        <s:sequence>
          <s:element minOccurs="0" maxOccurs="1" name="ID" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="BloodStationID" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="DeptID" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="AttachID" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="ResArcID" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="AppDonKindID" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="AppDonKindName" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="AppCollectPlaceID" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="AppCollectPlaceName" type="s:string" />
          <s:element minOccurs="1" maxOccurs="1" name="AppDonBeginDate" nillable="true" type="s:dateTime" />
          <s:element minOccurs="1" maxOccurs="1" name="AppDonEndDate" nillable="true" type="s:dateTime" />
          <s:element minOccurs="0" maxOccurs="1" name="AppResultID" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="AppResultName" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="FailedCauseID" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="FailedCauseName" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="LinkTypeID" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="LinkTypeName" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="Phone" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="Content" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="CallID" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="DonID" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="DonStatusID" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="DonStatusName" type="s:string" />
          <s:element minOccurs="1" maxOccurs="1" name="DonDate" nillable="true" type="s:dateTime" />
          <s:element minOccurs="0" maxOccurs="1" name="OperatorID" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="OperatorName" type="s:string" />
          <s:element minOccurs="1" maxOccurs="1" name="OperateDate" type="s:dateTime" />
          <s:element minOccurs="1" maxOccurs="1" name="IsSendSuccDon" type="s:boolean" />
          <s:element minOccurs="1" maxOccurs="1" name="IsSendTipDon" type="s:boolean" />
          <s:element minOccurs="0" maxOccurs="1" name="NetAppID" type="s:string" />
          <s:element minOccurs="1" maxOccurs="1" name="IsOver" type="s:boolean" />
          <s:element minOccurs="1" maxOccurs="1" name="IsCallOut" nillable="true" type="s:boolean" />
          <s:element minOccurs="0" maxOccurs="1" name="ArcID" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="IdentityTypeID" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="IdentityCode" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="Name" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="SourceID" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="TempletID" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="SMSContent" type="s:string" />
          <s:element minOccurs="1" maxOccurs="1" name="IsCalled" nillable="true" type="s:boolean" />
          <s:element minOccurs="1" maxOccurs="1" name="IsCalling" type="s:boolean" />
          <s:element minOccurs="1" maxOccurs="1" name="IsFirstTelConfirm" type="s:boolean" />
        </s:sequence>
      </s:complexType>
      <s:element name="InsertAppInfoResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="InsertAppInfoResult" type="tns:NetAppReturnInfo" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="GetCollectPlaceList">
        <s:complexType />
      </s:element>
      <s:element name="GetCollectPlaceListResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="GetCollectPlaceListResult" type="tns:ArrayOfCollectPlaceDic" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:complexType name="ArrayOfCollectPlaceDic">
        <s:sequence>
          <s:element minOccurs="0" maxOccurs="unbounded" name="CollectPlaceDic" nillable="true" type="tns:CollectPlaceDic" />
        </s:sequence>
      </s:complexType>
      <s:complexType name="CollectPlaceDic">
        <s:complexContent mixed="false">
          <s:extension base="tns:StationDictionary">
            <s:sequence>
              <s:element minOccurs="0" maxOccurs="1" name="PlaceKindID" type="s:string" />
              <s:element minOccurs="0" maxOccurs="1" name="RegionID" type="s:string" />
              <s:element minOccurs="0" maxOccurs="1" name="PlaceKindName" type="s:string" />
              <s:element minOccurs="0" maxOccurs="1" name="RegionName" type="s:string" />
            </s:sequence>
          </s:extension>
        </s:complexContent>
      </s:complexType>
      <s:complexType name="StationDictionary">
        <s:complexContent mixed="false">
          <s:extension base="tns:SimpleDictionary">
            <s:sequence>
              <s:element minOccurs="0" maxOccurs="1" name="BloodStationID" type="s:string" />
            </s:sequence>
          </s:extension>
        </s:complexContent>
      </s:complexType>
      <s:complexType name="SimpleDictionary">
        <s:sequence>
          <s:element minOccurs="0" maxOccurs="1" name="ID" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="Name" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="Code" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="Spell" type="s:string" />
          <s:element minOccurs="1" maxOccurs="1" name="Sort" type="s:int" />
          <s:element minOccurs="1" maxOccurs="1" name="IsUsed" type="s:boolean" />
          <s:element minOccurs="0" maxOccurs="1" name="Describe" type="s:string" />
        </s:sequence>
      </s:complexType>
    </s:schema>
  </wsdl:types>
  <wsdl:message name="GetTestResultSearchVerifyCodeByDonCodeSoapIn">
    <wsdl:part name="parameters" element="tns:GetTestResultSearchVerifyCodeByDonCode" />
  </wsdl:message>
  <wsdl:message name="GetTestResultSearchVerifyCodeByDonCodeSoapOut">
    <wsdl:part name="parameters" element="tns:GetTestResultSearchVerifyCodeByDonCodeResponse" />
  </wsdl:message>
  <wsdl:message name="GetTestResultSearchVerifyCodeByDonCodeServiceSoapHead">
    <wsdl:part name="ServiceSoapHead" element="tns:ServiceSoapHead" />
  </wsdl:message>
  <wsdl:message name="GetTestResultByDonCodeSoapIn">
    <wsdl:part name="parameters" element="tns:GetTestResultByDonCode" />
  </wsdl:message>
  <wsdl:message name="GetTestResultByDonCodeSoapOut">
    <wsdl:part name="parameters" element="tns:GetTestResultByDonCodeResponse" />
  </wsdl:message>
  <wsdl:message name="GetTestResultByDonCodeServiceSoapHead">
    <wsdl:part name="ServiceSoapHead" element="tns:ServiceSoapHead" />
  </wsdl:message>
  <wsdl:message name="GetTestResultSearchVerifyCodeByIdCodeSoapIn">
    <wsdl:part name="parameters" element="tns:GetTestResultSearchVerifyCodeByIdCode" />
  </wsdl:message>
  <wsdl:message name="GetTestResultSearchVerifyCodeByIdCodeSoapOut">
    <wsdl:part name="parameters" element="tns:GetTestResultSearchVerifyCodeByIdCodeResponse" />
  </wsdl:message>
  <wsdl:message name="GetTestResultSearchVerifyCodeByIdCodeServiceSoapHead">
    <wsdl:part name="ServiceSoapHead" element="tns:ServiceSoapHead" />
  </wsdl:message>
  <wsdl:message name="GetTestResultByIdCodeSoapIn">
    <wsdl:part name="parameters" element="tns:GetTestResultByIdCode" />
  </wsdl:message>
  <wsdl:message name="GetTestResultByIdCodeSoapOut">
    <wsdl:part name="parameters" element="tns:GetTestResultByIdCodeResponse" />
  </wsdl:message>
  <wsdl:message name="GetTestResultByIdCodeServiceSoapHead">
    <wsdl:part name="ServiceSoapHead" element="tns:ServiceSoapHead" />
  </wsdl:message>
  <wsdl:message name="CheckAppArchivesSoapIn">
    <wsdl:part name="parameters" element="tns:CheckAppArchives" />
  </wsdl:message>
  <wsdl:message name="CheckAppArchivesSoapOut">
    <wsdl:part name="parameters" element="tns:CheckAppArchivesResponse" />
  </wsdl:message>
  <wsdl:message name="CheckAppArchivesServiceSoapHead">
    <wsdl:part name="ServiceSoapHead" element="tns:ServiceSoapHead" />
  </wsdl:message>
  <wsdl:message name="CheckAppIntervalSoapIn">
    <wsdl:part name="parameters" element="tns:CheckAppInterval" />
  </wsdl:message>
  <wsdl:message name="CheckAppIntervalSoapOut">
    <wsdl:part name="parameters" element="tns:CheckAppIntervalResponse" />
  </wsdl:message>
  <wsdl:message name="CheckAppIntervalServiceSoapHead">
    <wsdl:part name="ServiceSoapHead" element="tns:ServiceSoapHead" />
  </wsdl:message>
  <wsdl:message name="InsertAppInfoSoapIn">
    <wsdl:part name="parameters" element="tns:InsertAppInfo" />
  </wsdl:message>
  <wsdl:message name="InsertAppInfoSoapOut">
    <wsdl:part name="parameters" element="tns:InsertAppInfoResponse" />
  </wsdl:message>
  <wsdl:message name="InsertAppInfoServiceSoapHead">
    <wsdl:part name="ServiceSoapHead" element="tns:ServiceSoapHead" />
  </wsdl:message>
  <wsdl:message name="GetCollectPlaceListSoapIn">
    <wsdl:part name="parameters" element="tns:GetCollectPlaceList" />
  </wsdl:message>
  <wsdl:message name="GetCollectPlaceListSoapOut">
    <wsdl:part name="parameters" element="tns:GetCollectPlaceListResponse" />
  </wsdl:message>
  <wsdl:message name="GetCollectPlaceListServiceSoapHead">
    <wsdl:part name="ServiceSoapHead" element="tns:ServiceSoapHead" />
  </wsdl:message>
  <wsdl:portType name="NIWebServiceSoap">
    <wsdl:operation name="GetTestResultSearchVerifyCodeByDonCode">
      <wsdl:documentation xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">根据献血码获取检验结果网上查询验证码。</wsdl:documentation>
      <wsdl:input message="tns:GetTestResultSearchVerifyCodeByDonCodeSoapIn" />
      <wsdl:output message="tns:GetTestResultSearchVerifyCodeByDonCodeSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="GetTestResultByDonCode">
      <wsdl:documentation xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">根据献血码、验证码从网站获取检验最终结论。</wsdl:documentation>
      <wsdl:input message="tns:GetTestResultByDonCodeSoapIn" />
      <wsdl:output message="tns:GetTestResultByDonCodeSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="GetTestResultSearchVerifyCodeByIdCode">
      <wsdl:documentation xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">根据证件类型、证件号码获取检验结果验证码。</wsdl:documentation>
      <wsdl:input message="tns:GetTestResultSearchVerifyCodeByIdCodeSoapIn" />
      <wsdl:output message="tns:GetTestResultSearchVerifyCodeByIdCodeSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="GetTestResultByIdCode">
      <wsdl:documentation xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">根据证件类型、证件号码、验证码获取检验结果。</wsdl:documentation>
      <wsdl:input message="tns:GetTestResultByIdCodeSoapIn" />
      <wsdl:output message="tns:GetTestResultByIdCodeSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="CheckAppArchives">
      <wsdl:documentation xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">验证网上预约人员是否满足献血要求。</wsdl:documentation>
      <wsdl:input message="tns:CheckAppArchivesSoapIn" />
      <wsdl:output message="tns:CheckAppArchivesSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="CheckAppInterval">
      <wsdl:documentation xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">验证网上预约信息是否满足献血间隔。</wsdl:documentation>
      <wsdl:input message="tns:CheckAppIntervalSoapIn" />
      <wsdl:output message="tns:CheckAppIntervalSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="InsertAppInfo">
      <wsdl:documentation xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">审核通过后上传预约记录信息。</wsdl:documentation>
      <wsdl:input message="tns:InsertAppInfoSoapIn" />
      <wsdl:output message="tns:InsertAppInfoSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="GetCollectPlaceList">
      <wsdl:documentation xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">获取本血站的采血地点列表。</wsdl:documentation>
      <wsdl:input message="tns:GetCollectPlaceListSoapIn" />
      <wsdl:output message="tns:GetCollectPlaceListSoapOut" />
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:binding name="NIWebServiceSoap" type="tns:NIWebServiceSoap">
    <soap:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="GetTestResultSearchVerifyCodeByDonCode">
      <soap:operation soapAction="http://tempuri.org/GetTestResultSearchVerifyCodeByDonCode" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
        <soap:header message="tns:GetTestResultSearchVerifyCodeByDonCodeServiceSoapHead" part="ServiceSoapHead" use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetTestResultByDonCode">
      <soap:operation soapAction="http://tempuri.org/GetTestResultByDonCode" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
        <soap:header message="tns:GetTestResultByDonCodeServiceSoapHead" part="ServiceSoapHead" use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetTestResultSearchVerifyCodeByIdCode">
      <soap:operation soapAction="http://tempuri.org/GetTestResultSearchVerifyCodeByIdCode" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
        <soap:header message="tns:GetTestResultSearchVerifyCodeByIdCodeServiceSoapHead" part="ServiceSoapHead" use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetTestResultByIdCode">
      <soap:operation soapAction="http://tempuri.org/GetTestResultByIdCode" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
        <soap:header message="tns:GetTestResultByIdCodeServiceSoapHead" part="ServiceSoapHead" use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="CheckAppArchives">
      <soap:operation soapAction="http://tempuri.org/CheckAppArchives" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
        <soap:header message="tns:CheckAppArchivesServiceSoapHead" part="ServiceSoapHead" use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="CheckAppInterval">
      <soap:operation soapAction="http://tempuri.org/CheckAppInterval" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
        <soap:header message="tns:CheckAppIntervalServiceSoapHead" part="ServiceSoapHead" use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="InsertAppInfo">
      <soap:operation soapAction="http://tempuri.org/InsertAppInfo" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
        <soap:header message="tns:InsertAppInfoServiceSoapHead" part="ServiceSoapHead" use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetCollectPlaceList">
      <soap:operation soapAction="http://tempuri.org/GetCollectPlaceList" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
        <soap:header message="tns:GetCollectPlaceListServiceSoapHead" part="ServiceSoapHead" use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:binding name="NIWebServiceSoap12" type="tns:NIWebServiceSoap">
    <soap12:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="GetTestResultSearchVerifyCodeByDonCode">
      <soap12:operation soapAction="http://tempuri.org/GetTestResultSearchVerifyCodeByDonCode" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
        <soap12:header message="tns:GetTestResultSearchVerifyCodeByDonCodeServiceSoapHead" part="ServiceSoapHead" use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetTestResultByDonCode">
      <soap12:operation soapAction="http://tempuri.org/GetTestResultByDonCode" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
        <soap12:header message="tns:GetTestResultByDonCodeServiceSoapHead" part="ServiceSoapHead" use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetTestResultSearchVerifyCodeByIdCode">
      <soap12:operation soapAction="http://tempuri.org/GetTestResultSearchVerifyCodeByIdCode" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
        <soap12:header message="tns:GetTestResultSearchVerifyCodeByIdCodeServiceSoapHead" part="ServiceSoapHead" use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetTestResultByIdCode">
      <soap12:operation soapAction="http://tempuri.org/GetTestResultByIdCode" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
        <soap12:header message="tns:GetTestResultByIdCodeServiceSoapHead" part="ServiceSoapHead" use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="CheckAppArchives">
      <soap12:operation soapAction="http://tempuri.org/CheckAppArchives" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
        <soap12:header message="tns:CheckAppArchivesServiceSoapHead" part="ServiceSoapHead" use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="CheckAppInterval">
      <soap12:operation soapAction="http://tempuri.org/CheckAppInterval" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
        <soap12:header message="tns:CheckAppIntervalServiceSoapHead" part="ServiceSoapHead" use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="InsertAppInfo">
      <soap12:operation soapAction="http://tempuri.org/InsertAppInfo" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
        <soap12:header message="tns:InsertAppInfoServiceSoapHead" part="ServiceSoapHead" use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetCollectPlaceList">
      <soap12:operation soapAction="http://tempuri.org/GetCollectPlaceList" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
        <soap12:header message="tns:GetCollectPlaceListServiceSoapHead" part="ServiceSoapHead" use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="NIWebService">
    <wsdl:port name="NIWebServiceSoap" binding="tns:NIWebServiceSoap">
      <soap:address location="http://localhost:18627/MBS.NI/NIWebService.asmx" />
    </wsdl:port>
    <wsdl:port name="NIWebServiceSoap12" binding="tns:NIWebServiceSoap12">
      <soap12:address location="http://localhost:18627/MBS.NI/NIWebService.asmx" />
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>

